.dummy {
  padding-top: 8px;
  padding-bottom: 8px;
}

.dashboard-text {
  margin-bottom: 24px;
}

.tui-container_adaptive {
  margin-top: 24px;
}

.axes {
  height: 200px;
  width: 100%;
  color: #bc71c9;
}

.dash-chart-wrap {
  display: flex;
  justify-content: center;
}