<div class="speak-wrapper">
  <div class="speak-btns">
    <button tuiButton type="button" (click)='pause()'>Start</button>
    <button style="margin-left: 16px;" tuiButton type="button" (click)='pause()'>Stop</button>
  </div>
  <div #scrollRef class="speak-content">
    <div *ngFor='let item of texts; let i = index'>
      <div #item class="speak-content__item">
        <div class="speak-content__item__speach" [waTextToSpeech]="text | waUtterance: options"
          [waTextToSpeechPaused]='paused' (waTextToSpeechBoundary)="onWaTextToSpeechBoundary($event)"
          (waTextToSpeechEnd)="onEnd(item, i)">
        </div>
        <div *ngIf='i === selectedBlock; else simpleItem' highlight [currentCharPosition]="currentPosition"
          class="speak-content__item__text">
          {{item}}
        </div>
        <ng-template #simpleItem>
          {{item}}
        </ng-template>
      </div>
    </div>
  </div>
</div>